
<md-toolbar class="toolbar">
    
 <md-toolbar-row>
  <span class="main-title">MagNeo</span>
 </md-toolbar-row>

  <md-toolbar-row>
    <span class="example-spacer"></span>
    <button type="button" class="btn btn-outline-secondary"  triggers="mouseenter:mouseleave" >
        Graph View 
    </button>
    <button type="button" class="btn btn-outline-secondary"  triggers="mouseenter:mouseleave" >
        Map View 
    </button>
    <button type="button" class="btn btn-outline-secondary"  triggers="mouseenter:mouseleave" >
        Logout 
    </button>
  </md-toolbar-row>
  
</md-toolbar>

 <app-map></app-map> 

<!-- define button that enables switching to graph veiw when two or more nodes are selected -->
<!-- <app-graphs></app-graphs>  -->
