
<md-toolbar class="toolbar">
  <span class="main-title">MagNeo</span>

  <md-toolbar-row>
    <span class="example-spacer"></span>
    <button type="button" class="btn btn-outline-secondary"  triggers="mouseenter:mouseleave" >
        Button 
    </button>
    <button type="button" class="btn btn-outline-secondary"  triggers="mouseenter:mouseleave" >
        Button 
    </button>
    <button type="button" class="btn btn-outline-secondary"  triggers="mouseenter:mouseleave" >
        Button 
    </button>
  </md-toolbar-row>
  
</md-toolbar>

<app-map></app-map>
    
